:root {
  &,
  &.light-mode {
    --primary-color: #f1f5f9;
    --secondary-color: #0f172a;
    --tertiary-color: #854d0e;
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.04);
    --shadow-md: 0px 0.6rem 2.4rem rgba(0, 0, 0, 0.06);
    --shadow-lg: 0 2.4rem 3.2rem rgba(0, 0, 0, 0.12);
  }

  &.dark-mode {
    --primary-color: #0f172a;
    --secondary-color: #f1f5f9;
    --tertiary-color: #fef08a;
    --shadow-sm: 0 1px 2px rgba(255, 255, 255, 0.4);
    --shadow-md: 0px 0.6rem 2.4rem rgba(255, 255, 255, 0.1);
    --shadow-lg: 0 2.4rem 3.2rem rgba(255, 255, 255, 0.4);
  }
}
